.card {
    border: none !important;
    font-family: "Roboto" !important;
    .card-body {
        font-weight: bold;
        padding: {
            left: 0;
            right: 0;
        }
    }
    img {
        border-radius: 0 !important;
    }
    .btn-link {
        padding: {
            left: 0;
            right: 0;
        }
        font-weight: bold;
    }
}